body {
    font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
    background: #fff;
    color: #434455;
}
button {
    cursor: pointer;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

a {
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

 /* < !-- HEADER --> */
.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

.header-container {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.menu {
    display: flex;
    gap: 40px;
}

.page-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.page-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.text-color {
    color: #2e2f42;
}
.header-button {
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.mob-menu {
    width: 100%;
    height: 100%;
    padding: 72px 16px 40px;
    position: fixed;
    top: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mob-nav {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
}

.mob-nav:not(:last-child) {
    margin-bottom: 40px;
}

.mob-nav-link {
    color: #2e2f42;
}

.mob-nav:first-child .mob-nav-link {
    color: #404bbf;
}

.mob-nav-link:hover,
.mob-nav-link:focus {
    color: #404bbf;
}

.mob-address-list {
    font-style: normal;
}

.mob-address-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.mob-address-item:not(:last-child) {
    margin-bottom: 24px;
}

.mob-address-link {
    color: #434455;
    text-decoration: unset;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-address-item:first-child .mob-address-link {
    color: #404bbf;
}

.mob-item-link:hover {
    color: #404bbf;
}

.mob-item-link:focus {
    color: #404bbf;
}

.mob-icons-list {
    display: flex;
    gap: 40px;
    margin: 40px auto 0;
}
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 24px 0;
    display: block;
    border-radius: 2px;
    position: relative;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.page-nav {
    display: flex;
    align-items: center;
    
}
.menu {
    display: none;
        /* display: flex; */
        align-items: flex-start;
        gap: 40px;
        position: relative;
        color: #404bbf;
}
.menu-link:active,
.menu-link:hover,
.menu-link:focus {
    color: #404BBF;

}
.current {
    /* position: relative; */
    color: #404bbf;
}
.current::after {
        position: absolute;
        background-color: #404bbf;
        width: 100%;
        bottom: -1px;
        left: 0;
        height: 4px;
        content: "";
        border-radius: 2px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link.current::after,
.menu-link.current::before {
    background-color: #404bbf;
}
.contacts {
    font-style: normal;
}

.contacts-list {
        display: none;
        align-items: flex-end;
        gap: 40px;
}

.contacts-link:active,
.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}

.contacts-link {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ===Hero Styles===============*/
.hero-section {
    padding: 72px 0;
        min-width: 320px;
        background: #2e2f42;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-mob-min.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
}
@media screen and (min-resolution: 2dppx),
(min-resolution: 192dpi),
(-webkit-min-device-pixel-ratio: 2) {
    .hero-section {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-tab@2x-min.jpg);
    }
}

.hero-section {
    margin: 0 auto;
}

.main-title {
    text-align: center;
    max-width: 188px;;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin: 0 auto;
    margin-bottom: 72px;
}

.order-service-btn {
    border-radius: 4px;
    padding: 16px 32px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #4d5ae5;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    min-width: 169px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-btn:hover {
    background-color: #404bbf;
}

.order-service-btn:focus {
    background-color: #404bbf;
}
/* ============ BENEFITS STYLES ============ */
.benefits-title {
    padding: 96px 0px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 72px;
}

.benefits-list-title {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.benefits-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: left;
}

.benefits-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: none;
}
/* ============ OUR TEAM STYLES ============ */
.our-team {
    background-color: #f4f4fd;
    padding: 96px 0;
}
.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.our-team-list-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 72px;
}

.our-team-list-item {
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 428px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}



.team-list-item {
    text-align: center;
    padding: 32px 0;
}

.our-team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.our-team-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}

.team-social {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-social-list {
    width: 40px;
    height: 40px;
}

.team-social-link {
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: #404bbf;
}

.team-social-icon {
    fill: #f4f4fd;
}
/* ============ OUR PORTFOLIO STYLES ============ */
.section-padding {
    padding: 96px 0;
}
.section-title {
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}



.portfolio-page {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-overlay {
    position: relative;
    width: 288px;
    margin: 0;
    overflow: hidden;
}

.portfolio-overlay-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-overlay-text {
    transform: translatey(0);
}
/* ============ FOOTER STYLES ============ */
.page-footer {
    background: #2e2f42;
    padding: 96px 0;
}

.container.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 72px;
}

.logo-footer {
    text-transform: uppercase;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    display: block;
    padding: 0;
    margin-right: 0;
    text-align: center;
    margin-bottom: 16px;
}

.text-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.logo-part-footer {
    color: #f4f4fd;
}

.footer-social-text {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    font-family: "Roboto", sans-serif;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer-link-icon {
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.footer-social {
width: 40px;
height: 40px;
}
.footer-link-icon:hover,
.footer-link-icon:focus {
    background-color: #31d0aa;
}
label,
input,
button {
    font-style: inherit;
}
/* < !-- SUBSCRIBE --> */
.footer-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    font-family: "Roboto", sans-serif;
    margin-bottom: 16px;
    text-align: center;
}

.footer-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.footer-form-input {
    letter-spacing: 0.04em;
    padding-left: 16px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    opacity: 0.3;
    width: 280px;
    height: 40px;
    font-size: 12px;
    line-height: 2;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer-form-input::placeholder {
    color: #fff;
}

.footer-form-btn {
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding: 8px 24px;
    letter-spacing: 0.04em;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:focus,
.footer-form-btn:hover {
    background-color: #404bbf;
}

.footer-form-svg {
    margin-left: 16px;
}
/* < !-- MODAL --> */
.modal-overlay {
    background: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.modal-window {
    width: 288px;
    height: 623px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    padding: 72px 24px 24px 24px;

    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-title {
    line-height: 1.5;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
}

.close-btn {
    position: absolute;
    padding: 0;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover {
    background-color: #404bbf;
    border: none;
}

.close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.close-btn:hover>svg,
.close-btn:focus>svg {
    fill: #fff;
}

.close-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-user-input {
    margin-bottom: 8px;
}

.modal-form-label {
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
    line-height: 1.17;
    display: block;
    margin-bottom: 4px;
}

.modal-form-input-wrapper {
    position: relative;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    letter-spacing: 0.04em;
    background-color: transparent;
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    border-color: #4d5ae5;
}

.modal-form-input:focus+.modal-form-svg {
    fill: #4d5ae5;
}

.modal-form-user-comment {
    margin-bottom: 16px;
}

.modal-form-textarea {
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    width: 100%;
    line-height: 1.17;
    letter-spacing: 0.04em;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 120px;
    resize: none;
    padding: 8px 16px;
    font-size: 12px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.modal-form-user-comment:focus {
    border-color: #4d5ae5;
}

.modal-form-privacypolicy {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-form-privacypolicy-link {
    color: #4d5ae5;
}

.modal-form-privacypolicy-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

}

.modal-form-span-svg {
    margin-right: 8px;
    width: 16px;
    height: 17px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.modal-form-privacypolicy-link {
    text-decoration: underline;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.modal-form-btn {
    display: block;
    border-radius: 4px;
    line-height: 1.5;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-form-privacypolicy-input:checked+.modal-form-privacypolicy-label .modal-form-span-svg {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .benefits-list-title {
     text-align: left;
    }
    .page-logo {
        margin-right: 120px;
    }
    .header-container {
        height: 72px;
    }

    .menu{
        display: flex;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: end;
    }

    .contacts-link {
        font-size: 12px;
        padding: 0;
    }

    .header-button {
        display: none;
    }

    .mob-menu {
        display: none;
    }

    .hero-section {
        padding: 112px 0;
        max-width: 768px;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-tab-min.jpg);
    }

    @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
        .hero-section {
            background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/people-office-tab@2x-min.jpg);
        }
    }

    .main-title {
        margin-bottom: 36px;
        font-size: 56px;
        max-width: 496px;
    }

    .benefits-list {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        gap: 24px;
        text-align: start;
        row-gap: 71px;
    }

    .benefits-list-item {
        flex-basis: calc((100% - 24px));
        max-width: calc(50% - 12px);
    }

       .our-team-list-list {
        gap: 24px;
        row-gap: 64px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .portfolio-list-item {
        margin-bottom: 0;
    }

    .portfolio-list {
        align-items: center;
        justify-content: center;
    }

    .portfolio-overlay {
        width: 356px;
    }

    .page-footer {
        padding-left: 108px;
    }

    .page-footer .container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 24px;
        row-gap: 72px;
    }

    .footer-logo-text {
        max-width: 264px;
    }

   .logo-footer{
        display: inline-block;
        margin-left: 0;
        padding-top: 0;
    }

    .footer-social-text {
        text-align: left;
    }

    .footer-form-input {
        width: 264px;
    }

    .footer-form-title {
        text-align: left;
    }

    .footer-form {
        flex-direction: row;
        gap: 24px;
    }

    .modal-window {
        width: 408px;
        min-height: 584px;
    }

    .modal-form-textarea {
        height: 138px;
    }

    .user-privacy {
        white-space: nowrap;
    }

    .modal-form-span-svg {
        height: 16px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
    .contacts-link {
            font-size: 16px;
        }

    .page-logo {
        margin-right: 76px;
    }

    .menu {
        display: flex;
    }

    .contacts-list {
        flex-direction: row;
    }

    .header-button {
        display: none;
    }

    .mob-menu {
        display: none;
    }

    .hero-section {
        padding: 188px 0;
        max-width: 1440px;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-desk-min.jpg);
    }

    @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
        .hero {
            background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/people-office-desk@2x-min.jpg);
        }
    }

    .main-title {
        margin-bottom: 48px;
        max-width: 496px;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
    }

    .benefits-title {
        padding: 120px 0;
    }

    .benefits-list {
        display: flex;
        align-items: baseline;
        flex-wrap: nowrap;
        gap: 24px;
    }

    .benefits-icon {
        display: flex;
    }

    .benefits-list-item {
        flex-basis: calc((100% - 3 * 24px) / 4);
        margin-bottom: 0;
        text-align: left;
    }

    .benefits-list-item:not(:last-child) {
        margin-bottom: 0px;
    }

    .benefits-list-title {
        font-size: 20px;
        text-align: left;
    }

    .our-team {
        padding: 120px 0;
    }

    .our-team-list-list {
        flex-direction: row;
        gap: 24px;
    }

    .section-padding {
        padding: 120px 0;
    }

    .portfolio-list-item {
        width: calc((100% - 48px) / 3);
        max-width: 360px;
        margin-bottom: 0;
    }

    .portfolio-overlay {
        width: 360px;
        height: 300px;
    }

    .portfolio-list-item {
        box-shadow: none;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-list-item:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .page-footer {
        padding: 100px 15px;
    }

    .page-footer .container {
        display: flex;
        align-items: baseline;
        flex-direction: unset;
        gap: 0;
    }

    .footer-logo-text {
        max-width: 264px;
        margin-right: 120px;
    }

    .logo-footer {
        display: inline-block;
    }

    .footer-social-container {
        margin-right: 80px;
    }

    .footer-social-text {
        text-align: left;
    }

    .footer-form-title {
        text-align: left;
    }

    .footer-form {
        flex-direction: row;
        gap: 24px;
    }

    .modal-window {
        width: 408px;
        min-height: 584px;
    }

    .modal-form-user-comment {
        height: 138px;
    }

    .user-privacy {
        white-space: nowrap;
    }

    .modal-form-span-svg {
        height: 16px;
    }
}
